.my-button {
  background-color: #fcd980;
  color: #1c1e53;
  border-radius: 20px;
  width: fit-content;
  padding: 10px;
  height: fit-content;
  font-size: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
