.student-view {
  display: flex;
}
.student-content {
  margin-top: 50px;
}

.student-infor {
  margin-top: 70px;
}
.profile-info-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.profile-info-list > li.title {
  font-size: 0.625rem;
  font-weight: 700;
  color: #8a8a8f;
  padding: 0 0 0.3125rem;
}
.profile-info-list > li + li.title {
  padding-top: 1.5625rem;
}
.profile-info-list > li {
  padding: 0.625rem 0;
}
.profile-info-list > li .field {
  font-weight: 700;
}
.profile-info-list > li .value {
  color: #666;
}
.profile-info-list > li.img-list a {
  display: inline-block;
}
.profile-info-list > li.img-list a img {
  max-width: 2.25rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  border-radius: 2.5rem;
}

.table.table-profile th {
  color: #1c1e53;
  padding-bottom: 0.3125rem;
  padding-top: 20px;
}
.table.table-profile td {
  border-color: #c8c7cc;
}
.table.table-profile tbody + thead > tr > th {
  padding-top: 1.5625rem;
}
.table.table-profile .field {
  color: #666;
  font-weight: 600;
  width: 25%;
  text-align: right;
}
.table.table-profile .value {
  font-weight: 500;
}

body .fc th a,
body .fc-ltr .fc-basic-view .fc-day-top .fc-day-number,
body .fc-widget-header a {
  color: #000;
}

.profile-container {
  padding: 1.5625rem;
}

.heading-student {
  margin-top: 50px;
  text-align: center;
}
.guide-1,
.guide-2 {
  display: flex;
  margin: 40px 30px;
}
.img-guide-1,
.img-guide-2 {
  width: 10rem;
  height: auto;
}

@media (max-width: 767px) {
  .profile-container {
    padding: 0.9375rem 0.9375rem 3.6875rem;
  }
}
.profile-info-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.hi-user {
  position: fixed;
  right: 30px;
}
