.container-box {
  display: flex;
  background-color: #d6eaf8;
  margin-top: 50px;
  padding: 10px;
  width: 100%;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
}

.wrap-logo-box {
  margin: 5px;
  justify-content: center;
}
.logo-box {
  width: 140px;
  height: auto;
  border-radius: 20px;
}
.company-name {
  font-weight: bold;
  margin-top: 15px;
}
.position-name {
  margin-top: 20px;
}
.bottom-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
