.container-box {
  display: flex;
  background-color: #d6eaf8;
  margin-top: 50px;
  padding: 10px;
  width: 100%;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
}

.wrap-logo-box {
  margin: 5px;
  justify-content: center;
}
.logo-box {
  width: 140px;
  height: auto;
  border-radius: 20px;
}
.company-name {
  font-weight: bold;
  margin-top: 15px;
}
.position-name {
  margin-top: 20px;
}
.bottom-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.bottom-button {
  display: flex;
  align-items: center;
}
.action-button {
  background-color: #f19151;
  color: #000;
  border-radius: 10px;
  width: fit-content;
  padding: 12px;
  height: 41px;
  font-size: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.content-wrapper {
  flex: 1;
  margin-left: 15px;
}
