.nv-page {
  padding-top: 50px;
  margin-left: 350px;
  width: 60%;
}
.nv-heading {
  margin-bottom: 20px;
  color: #1c1e53;
  text-align: center;
}
.nv-button {
  right: 8rem;
  color: #1c1e53;
  border: 1px solid #1c1e53;
}
.nv-button:hover {
  color: #1c1e53;
  background-color: #fcd980;
  border: #fcd980;
}
.nv-button:active {
  background-color: #fcd980;
  color: #fcd980;
}
.heading-form {
  margin: 50px;
  text-align: center;
}
.bt-form-business {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.register-guide {
  position: absolute;
  margin-top: 80px;
  margin-left: 200px;
}
.form-infor-business {
  position: absolute;
  width: 70%;
  margin-left: 250px;
}
.title-cp {
  text-align: center;
}
.bt-submit {
  margin-top: 100px;
  position: relative;
}
