.bt-allot-intern {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 100px;
  padding-right: 100px; */
  text-align: center;

  margin-top: 60px;
  margin-bottom: 50px;
}
.table-allot-intern {
  text-align: center;
}
.name {
  width: 200px;
}
.major {
  width: 150px;
}
.name-value {
  text-align: left;
}
.wrap-allot-intern {
  position: absolute;
  margin-left: 200px;
  margin-top: 80px;
}
