.my-user {
  position: absolute;
  display: flex;
  top: 20px;
  right: 30px;
  width: fit-content;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #1c1e53;
  text-align: center;
  cursor: pointer;
}
.user-name {
  color: #fff;
  font-weight: bold;
}
.user-role {
  color: #9197b3;
}
.user-icon {
  margin: 2px 5px 0px 1px;
  font-size: 25px;
  color: #fff;
}
.user-infor {
  padding-left: 10px;
  padding-right: 30px;
}
